body{ 
    display: flex;
    flex-direction: column;
font-family: roboto; sans-serif;
height: 100vh;
margin:0;
}

img{
    display: flex;
    max-height:200px;
}

.header{
    height: 50px;
    display:flex;
    justify-content: space-between;
    font-size: 24px;
    background-color: burlywood;


}

ul {
    list-style-type: none;
    display:flex;
    margin: 0;
    padding: 0;
    gap: 30px;
  }
 .awesome{
    background-color: burlywood;
    padding-left:100px;
    padding-right:100px;
    padding-top:50px;
    padding-bottom:50px;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;

 }

 .h1{
    font-size: 18px;
    display: flex;
    max-width: 400px;
    flex: auto;

    flex-direction: column;
 }

 button{
    width:100px;
 }

 h1{
    font-size: 48 px;
    font-weight: extra-bold;
 }

 h2{
    text-align: center;
    font-size: 36px;
    font-weight:extra-bold;
 }

.random{
    display:flex;
    justify-content: center;
    gap: 15px;

}

.image1{
    height:150px;
    width:150px;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
    text-align: center;

  }

.quote{
    background-color: #e5e7eb;
    font-size:36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
justify-content: flex-end;
    padding-left:100px;
    padding-right:100px;
    text-align: right;
}

.action{
    display: flex;
    margin:5em;
    background-color: lightblue;
    align-items: center;
    padding:10px;
    flex:none;
}

.footer{
    display:flex;
    justify-content: center;
    align-items: center ;
    background-color: burlywood;
    padding:10px;
}
