body{ 
    display: flex;
    flex-direction: column;
font-family: roboto; sans-serif;
height: 100vh;
}

img{
    display: flex;
    max-height:200px;
}

.header{
    height: 50px;
    display:flex;
    justify-content: space-between;
    font-size: 24px;

}

ul {
    list-style-type: none;
    display:flex;
    margin: 0;
    padding: 0;
    gap: 30px;
  }
 .awesome{
    margin:100px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;

 }

 .h1{
    font-size: 18px;
    display: flex;
    max-width: 400px;
    flex: auto;

    flex-direction: column;
 }

 button{
    width:100px;
 }

 h1{
    font-size: 48 px;
    font-weight: extra-bold;
 }



